In [10]:
import pandas as pd

In [46]:
import tarfile

In [18]:
from pathlib import Path

In [11]:
import requests

In [12]:
import os

In [13]:
import gzip
import shutil

In [14]:
def extract_gzip_file(file_location):
    print(f"Extracting file: {file_location}")
    out_file = file_location[:-3]
    with open(file_location, "rb") as f_in:
        with open(out_file, "wb") as f_out:
            shutil.copyfileobj(f_in, f_out)

In [24]:
def download_file(arguments):
    directory = arguments[0]
    url = arguments[1]
    print(f"Calling download_file with arguments {directory} {url}")
    response = requests.get(url)
    if "content-disposition" in response.headers:
        content_disposition = response.headers["content-disposition"]
        filename = content_disposition.split("filename=")[1]
    else:
        filename = url.split("/")[-1]
    zip_directory_path = os.path.join(directory,filename)
    with open(zip_directory_path, "wb") as file:
        file.write(response.content)
    if "gz" in url: 
        extract_gzip_file(zip_directory_path)

In [2]:
!pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in c:\users\fahmi\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: psycopg2-binary in c:\users\fahmi\anaconda3\lib\site-packages (2.9.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\fahmi\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)

In [2]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [8]:
pd.__version__

'2.2.3'

In [17]:
current_directory = os.getcwd()
final_directory = os.path.join(current_directory, r'downloads')

In [19]:
Path(final_directory).mkdir(parents=True, exist_ok=True)

In [21]:
download_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz"

In [23]:
download_file((final_directory, download_url))

Calling download_file with arguments c:\Users\fahmi\projects\dataeng_bootcamp\downloads https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Extracting file: c:\Users\fahmi\projects\dataeng_bootcamp\downloads\green_tripdata_2019-10.csv.gz

In [25]:
download_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

In [26]:
download_file((final_directory, download_url))

Calling download_file with arguments c:\Users\fahmi\projects\dataeng_bootcamp\downloads https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

In [79]:
df = pd.read_csv('green_tripdata_2019-10.csv')

C:\Users\fahmi\AppData\Local\Temp\ipykernel_1624\2156106363.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv')

In [80]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [81]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [82]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [83]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=10000,low_memory=False)

In [84]:
df = next(df_iter)

In [85]:
len(df)

10000

In [86]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_pickup_datetime= pd.to_datetime(df.lpep_pickup_datetime)

In [18]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.00,0.5,0.5,0.00,0.00,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.00,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.50,0.5,0.5,0.00,0.00,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.50,0.5,0.5,2.96,0.00,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.00,0.5,0.5,0.00,0.00,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-01-06 09:56:09,2019-01-06 10:01:30,N,1,130,216,1,1.23,6.00,0.0,0.5,0.00,0.00,NaN,0.3,6.80,2,1,NaN
99996,2,2019-01-06 09:12:49,2019-01-06 09:52:38,N,5,218,16,1,21.44,47.65,0.0,0.5,0.00,5.76,NaN,0.0,53.91,1,2,NaN
99997,2,2019-01-06 09:02:06,2019-01-06 09:37:42,N,5,139,188,1,14.77,37.84,0.0,0.5,0.00,0.00,NaN,0.0,38.34,1,2,NaN
99998,2,2019-01-06 09:55:01,2019-01-06 10:04:34,N,1,72,188,1,1.80,8.50,0.0,0.5,0.00,0.00,NaN,0.3,9.30,1,1,NaN
99999,2,2019-01-06 09:59:04,2019-01-06 10:24:33,N,5,89,225,1,7.03,23.14,0.0,0.5,0.00,0.00,NaN,0.0,23.64,1,2,NaN

In [87]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [88]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: total: 234 ms
Wall time: 1.05 s

1000

In [89]:
from time import time

In [90]:
while True:
    try:
        t_start = time()

        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_pickup_datetime= pd.to_datetime(df.lpep_pickup_datetime)
        
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
            print("Finished ingesting data into the postgres database")
            break

inserted another chunk, took 1.311 second
inserted another chunk, took 1.302 second
inserted another chunk, took 1.275 second
inserted another chunk, took 1.322 second
inserted another chunk, took 1.172 second
inserted another chunk, took 1.183 second
inserted another chunk, took 1.208 second
inserted another chunk, took 1.227 second
inserted another chunk, took 1.168 second
inserted another chunk, took 1.247 second
inserted another chunk, took 1.182 second
inserted another chunk, took 1.145 second
inserted another chunk, took 1.131 second
inserted another chunk, took 1.189 second
inserted another chunk, took 1.231 second
inserted another chunk, took 1.633 second
inserted another chunk, took 1.160 second
inserted another chunk, took 1.069 second
inserted another chunk, took 1.149 second
inserted another chunk, took 1.360 second
inserted another chunk, took 1.532 second
inserted another chunk, took 1.661 second
inserted another chunk, took 1.511 second
inserted another chunk, took 1.599 second
inserted another chunk, took 1.431 second
inserted another chunk, took 1.614 second
inserted another chunk, took 1.571 second
inserted another chunk, took 1.481 second
inserted another chunk, took 1.418 second
inserted another chunk, took 1.280 second
inserted another chunk, took 1.496 second
inserted another chunk, took 1.442 second
inserted another chunk, took 1.446 second
inserted another chunk, took 1.617 second
inserted another chunk, took 1.401 second
inserted another chunk, took 1.298 second
inserted another chunk, took 1.612 second
inserted another chunk, took 1.453 second
inserted another chunk, took 1.404 second
inserted another chunk, took 1.465 second
inserted another chunk, took 1.637 second
inserted another chunk, took 1.441 second
inserted another chunk, took 1.317 second
inserted another chunk, took 1.529 second
inserted another chunk, took 1.324 second
inserted another chunk, took 1.419 second
inserted another chunk, took 0.938 second

StopIteration:

In [91]:
df = pd.read_csv("taxi_zone_lookup.csv")

In [92]:
df.to_sql(name='zones', con=engine, if_exists='replace')

265

: